
.session-container {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #e5e5f7;
  opacity: 0.4;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: .3rem;
}

.session-container-block {
  box-sizing: border-box;
  border:1px dashed black;
}



.session-container-block:hover {
  background-color: #ecb1b1
}

